.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.navbar {
  background-color: white !important; /* White background for the navbar */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow below the navbar */
}

.navbar a {
  color: #343a40; /* Dark color for links */
  text-decoration: none; /* Remove underline */
}

.navbar a:hover {
  color: #007bff; /* Blue color on hover */
}

.Navbar-white .navbar-nav .nav-link {
  color: #343a40 !important; /* Dark text for links */
}

.Navbar-white .navbar-nav .nav-link:hover {
  color: #007bff !important; /* Blue color when hovering over links */
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

input:focus {
  border-color: #007bff !important; /* Blue border on focus */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5) !important; /* Subtle highlight shadow */
}

input {
  outline: none; /* Remove the default outline */
  transition: all 0.3s ease; /* Smooth transition for focus effect */
}
